<%= form_tag user_registration_path do %>
  <div class="form-group">
    <% if action_name == 'edit' %>
      <%= select_tag "education", options_for_select(EDUCATION_LEVELS, EDUCATION_LEVELS.first) %>
      <%= number_field_tag "age" %>
      <%= select_tag "profession", options_for_select(PROFESSION, PROFESSION.first) %>
      <%= select_tag "nationality", options_for_select(NATIONALITY, NATIONALITY.first) %>
      <%= select_tag "sex", options_for_select(SEX, SEX.first) %>
    <% elsif action_name == 'new' %>

      <%= text_field_tag "email" %>
      <%= text_field_tag "password" %>
      <%= text_field_tag "password_confirmation" %>
      <%= hidden_field_tag "user_type", "tester" %>
    <%#= f.input :photo, as: :file %>
    <!--           f.input :photo, as: :file -->
    <!--           f.input :availability -->
    <% end %>
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<!-- 1. email field -->
<!-- 2. password field -->
