<%= simple_form_for(@tester) do |f| %>
<div class="form-group">
  <%= f.input :education, collection: EDUCATION_LEVELS, prompt: 'Select education level' %>
  <%= f.input :age, prompt: 'Provide your age' %>
  <%= f.input :profession, collection: PROFESSION, prompt: 'Select your current job' %>
  <%= f.input :nationality, collection: NATIONALITY, prompt: 'Select your nationality' %>
  <%= f.input :sex, collection: SEX, prompt: 'Select your sex' %>
  <%= f.input :photo, as: :file %>
  <!--           f.input :photo, as: :file -->
  <!--           f.input :availability -->

  <div class="justify-content-between d-flex padding-top-30">
    <%= f.button :submit, "Update Profile", {class: "btn btn-primary"} %>
    <%= link_to "Back", dashboard_path, {class: "card_action btn btn-primary"}  %>
  </div>
</div>
<% end %>


