<%= form_tag user_registration_path do %>
  <div class="form-group">
    <%= select_tag "education", options_for_select(EDUCATION_LEVELS, EDUCATION_LEVELS.first) %>
    <%= number_field_tag "age" %>

    <%= select_tag "profession", options_for_select(PROFESSION, PROFESSION.first) %>
    <%= select_tag "nationality", options_for_select(NATIONALITY, NATIONALITY.first) %>
    <%= select_tag "sex", options_for_select(SEX, SEX.first) %>
    <%= hidden_field_tag "user_type"%>
    <%#= f.input :photo, as: :file %>
    <!--           f.input :photo, as: :file -->
    <!--           f.input :availability -->
    <%= submit_tag "Submit" %>

  </div>
<% end %>

<!-- 1. Convert simple_form_for to form_tag (this file) -->
<!-- 2. Override devise registrations_controller -> https://stackoverflow.com/questions/3546289/override-devise-registrations-controller -->
