<%= simple_form_for(@startup) do |f| %>
<div class="form-group">
  <%= f.input :company_name, placeholder: 'Fill in your company name' %>
  <%= f.input :url, placeholder: 'Provide your url' %>
  <%= f.input :description, placeholder: 'fill in a short description' %>
  <%= f.input :sector, collection: SECTOR, prompt: 'Select the sector you are in' %>

  <%= f.input :photo, as: :file %>
  <!--           f.input :photo, as: :file -->
  <!--           f.input :availability -->
  <h3>Who is your target market?</h3>

  <%= f.input :target_age, :collection => 18..100, input_html: { class: 'multiselectuser', multiple: true}, :prompt => "Select your age"  %>
  <%= f.input :target_sex, collection: SEX, input_html: { class: 'multiselectuser', multiple: true}, prompt: "What kind of gender?" %>
  <%= f.input :target_profession, collection: PROFESSION, input_html: { class: 'multiselectuser', multiple: true}, prompt: "What kind of profession?" %>
  <%= f.input :target_nationality, collection: NATIONALITY, input_html: { class: 'multiselectuser', multiple: true}, prompt: "What kind of nationality?" %>
  <%= f.input :target_education, collection: EDUCATION_LEVELS, input_html: { class: 'multiselectuser', multiple: true}, prompt: 'What kind of educiton level?' %>
  <%= f.input :target_rating, :collection => 0..5, input_html: { class: 'multiselectuser', multiple: true}, :prompt => "Select your age" %>

  <div class="justify-content-between d-flex padding-top-30">
    <%= link_to "Back", dashboard_path, {class: "card_action btn btn-primary"}  %>
    <%= f.button :submit, "Update Profile", {class: "btn btn-primary"} %>
  </div>
</div>

<% end %>
