<%= simple_form_for(@startup) do |f| %>
<div class="form-group">
  <%= f.input :company_name, placeholder: 'Fill in your company name' %>
  <%= f.input :url, placeholder: 'Provide your url' %>
  <%= f.input :description, placeholder: 'fill in a short description' %>
  <%= f.input :sector, collection: SECTOR, prompt: 'Select the sector you are in' %>

  <%= f.input :photo, as: :file %>
  <!--           f.input :photo, as: :file -->
  <!--           f.input :availability -->
  <div class="justify-content-between d-flex padding-top-30">
    <%= link_to "Back", dashboard_path, {class: "card_action btn btn-primary"}  %>
    <%= f.button :submit, "Update Profile", {class: "btn btn-primary"} %>
  </div>
</div>

<% end %>
