<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path "Lampje.png"%>)">
  <div class="container">
    <h1>BetaTesting</h1>
    <p id="slogan">Contribute to cool ideas while making money</p>

    <% if current_user && current_user.is_tester? %>
      <div class='btn-cont d-flex justify-content-start'>
        <%= link_to startups_path, {class: "btn btn-succes"} do%>
          <p class="hp-btn">Start Testing</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
        <% end %>
      </div>
    <% elsif current_user && current_user.is_startup? %>
      <div class='btn-cont d-flex justify-content-start'>
         <%= link_to dashboard_path, {class: "btn btn-succes"} do %>
            <p class="hp-btn">Dashboard</p>
            <span class='line-1'></span>
            <span class='line-2'></span>
            <span class='line-3'></span>
            <span class='line-4'></span>
         <% end %>
      </div>
    <% else %>


    <div class="d-flex justify-content-start ">
      <div class='btn-cont'>
         <%= link_to new_tester_path, {class: "btn btn-succes"} do %>
          <p class="hp-btn">I am a tester</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
        <% end %>
      </div>

      <div class='btn-cont ml-3'>
         <%= link_to new_startup_path, {class: "btn btn-succes"} do %>
          <p class="hp-btn">I am a startup</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
         <% end %>
     </div>
    </div>
<% end %>
  </div>
</div>

<h1 class="text-center mt-5">An Efficient Solution for Startups</h1>

  <div class="container3 image-tester2">
    <div class="box-icons2">
      <div class="box-text">
        <%= image_tag "growth.png"%>
        <h4>Improve Conversion</h4>
        <p>Get to know your target market with personalized feedback.</p>
      </div>
      <div class="box-text">
        <%= image_tag "correct.png"%>
        <h4>Fix <br> Bugs</h4>
        <p> Gain insights on bugs and errors that you target market might encounter.</p>
      </div>
      <div class="box-text">
        <%= image_tag "good.png"%>
        <h4>Get Real Feedbacks</h4>
        <p>Have the ability to select the target market you get feedback from.</p>
      </div>
    </div>
    <!-- <img style="background-color:black"> -->
    <img style="flex-grow: 1;" src="https://betanews.com/wp-content/uploads/2015/11/Startup.jpg" alt="">
  </div>

<h1 class="text-center">Become a Tester</h1>

<div class="container3 image-tester">
  <%= image_tag "hero.jpg", :style  => "flex-grow: 1" %>
  <div class="box-icons">
    <div class="box-text">
      <%= image_tag "money.png"%>
      <h4>Earn Money</h4>
      <p>Get paid each time you contribute feedback to a startup of your liking.</p>
    </div>
    <div class="box-text">
      <%= image_tag "medal.png"%>
      <h4>Get Rewarded</h4>
      <p>Get the satisfaction and a fixed amount of money per succesful feedback.</p>
    </div>
    <div class="box-text">
      <%= image_tag "agreement.png"%>
      <h4>Help People</h4>
      <p>Get exposed and contribute to ideas that matter to you.</p>
    </div>
  </div>
</div>


<div class="container4">
  <h1>A Global Team Dedicated to Your Success</h1>
  <div class="box-container">
    <div class="box-icons3">
       <h2>+180</h2>
       <p>Employees</p>
    </div>
    <div class="box-icons3">
       <h2>4</h2>
       <p>Offices in NYC, Paris, London, <br> and Seattle</p>
    </div>
    <div class="box-icons3">
       <h2>15</h2>
       <p>International Web awards <br> and nominations</p>
    </div>
  </div>
</div>


<div class="reviews-container">
  <h1 class="text-modif reviews-header text-center mb-4">Customer Reviews</h1>
  <div class="reviews-home d-flex justify-content-center mb-2 ">

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Great Idea</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text">Great way of connecting with great ideas while earning money on the side. Will use again.</p>
        <img src="https://images.pexels.com/photos/157661/young-woman-shooting-model-157661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="avatar"><br>
        <p class="review-author">Iris Blaise</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Amazing</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text"> Betatesting blew me away. Was able to test my website, Vaycar, within a week! I recommend it!</p>
        <img src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="avatar"><br>
        <p class="review-author">Theo Gilardo</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Worth trying</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text"> As a freelance developer, being between jobs is boring. With Betatesting I can keep busy!</p>
        <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="avatar"><br>
        <p class="review-author">Tereza Valerova</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>
  </div>
</div>
