<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path "Lampje.png"%>)">
  <div class="container">
    <h1>BetaTesting</h1>
    <p>Contribute to cool ideas while making money</p>

    <% if current_user && current_user.is_tester? %>
      <div class='btn-cont d-flex justify-content-start'>
        <%= link_to startups_path, {class: "btn btn-succes"} do%>
          <p>Start Testing</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
        <% end %>
      </div>
    <% elsif current_user && current_user.is_startup? %>
      <div class='btn-cont d-flex justify-content-start'>
         <%= link_to dashboard_path, {class: "btn btn-succes"} do %>
            <p>Dashboard</p>
            <span class='line-1'></span>
            <span class='line-2'></span>
            <span class='line-3'></span>
            <span class='line-4'></span>
         <% end %>
      </div>
    <% else %>


    <div class="d-flex justify-content-start ">
      <div class='btn-cont'>
         <%= link_to new_tester_path, {class: "btn btn-succes"} do %>
          <p>I am a tester</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
        <% end %>
      </div>

      <div class='btn-cont ml-3'>
         <%= link_to new_startup_path, {class: "btn btn-succes"} do %>
          <p>I am a startup</p>
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
         <% end %>
     </div>
    </div>
<% end %>
  </div>
</div>


  <!-- <div class="cards d-flex justify-content-center">
    <div class="card text-centered" style ="width:24rem;">
      <img src="https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="card image" class="card-image-top">
      <div class="card-body">
        <h1>Start testing!</h1>
        <p class="card-text"> and start earning <strong>money</strong></p>


<div class="cards d-flex justify-content-center">
  <div class="card text-centered" style ="width:24rem;">
    <img src="https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="card image" class="card-image-top">
    <div class="card-body">
      <h1>Start testing!</h1>
      <p class="card-text"> and start earning <strong>money</strong></p>


    </div>
    </div>

    <div class="card text-centered" style ="width:24rem;">
      <img src="https://images.unsplash.com/photo-1523575166472-a83a0ed1d522?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80" alt="card image" class="card-image-top">
      <div class="card-body">
        <h1>Sign up!</h1>
        <p class="card-text">and start testing your <strong>startup</strong></p>


      </div> -->
 <!--    </div>
  </div> -->


<div class="container3 image-tester">
  <!-- <img style="background-color:black"> -->
  <img src="https://we-are-testers.com/theme/img/img-facebook-home.jpg" alt="">
  <div class="box-icons">
    <div class="box-text">
      <%= image_tag "money.png"%>
      <h4>Earn Money</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet deleniti, excepturi asperiores aliquam quae laborum. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box-text">
      <%= image_tag "medal.png"%>
      <h4>Get Rewarded</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit consequuntur dicta modi ad in omnis. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box-text">
      <%= image_tag "agreement.png"%>
      <h4>Help People</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus saepe tempora, adipisci beatae natus laborum. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<div class="container3 image-tester2">
  <div class="box-icons2">
    <div class="box-text">
      <%= image_tag "growth.png"%>
      <h4>Improve Conversion</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet deleniti, excepturi asperiores aliquam quae laborum. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box-text">
      <%= image_tag "correct.png"%>
      <h4>Fix Bugs</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit consequuntur dicta modi ad in omnis. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box-text">
      <%= image_tag "good.png"%>
      <h4>Get Real Feedbacks</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus saepe tempora, adipisci beatae natus laborum. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <!-- <img style="background-color:black"> -->
  <img src="https://betanews.com/wp-content/uploads/2015/11/Startup.jpg" alt="">
</div>


<div class="container4">
  <h1>A Global Team Dedicated to Your Success</h1>
  <div class="box-container">
    <div class="box-icons3">
       <h2>+180</h2>
       <p>Employees</p>
    </div>
    <div class="box-icons3">
       <h2>4</h2>
       <p>Offices in NYC, Paris, London, <br> and Seattle</p>
    </div>
    <div class="box-icons3">
       <h2>15</h2>
       <p>International Web awards <br> and nominations</p>
    </div>
  </div>
</div>




<div class="reviews-container">
  <h1 class="text-modif reviews-header text-center mb-4">Customer Reviews</h1>
  <div class="reviews-home d-flex justify-content-center mb-2 ">

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Great Idea</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text">Great way of connecting with great ideas while earning money on the side. Will use again.</p>
        <img src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""><br>
        <p class="review-author">Iris Blaise</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Amazing</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text"> Was skeptical at first, but Betatesting blew me away. Was able to test my website, Vaycar, within a week!</p>
        <img src="https://images.pexels.com/photos/1300402/pexels-photo-1300402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""><br>
        <p class="review-author">Theo Gilardo</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>

    <div class="review-card">
      <div class="review-header">
        <h4 class="mb-3">Worth trying</h4>
      </div>
      <div class="review-content">
        <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
        <p class="change-text" class="review-text"> As a freelance developer, being between jobs coud be boring. With Betatesting I can get payed even between jobs</p>
        <img src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""><br>
        <p class="review-author">Tereza Valerova</p>
        <p class="review-place">Amsterdam, NL</p>
      </div>
    </div>
  </div>
</div>



