  <div class="tab-pane fade show <%= index == 0 ? 'active' : '' %>" id="accordion<%= index %>" role="tabpanel" aria-labelledby="nav-version_<%= index %>-tab">
    <div class="accordion" id="accordion<%= index %>">
      <% version.questions.each_with_index do |question, index| %>
        <%= render partial: "versions/question_accordion", locals: { question: question, index: index}%>
      <% end %>
    </div>
  </div>
