

<div class=banner2>
  <h1 class="h1-header m-2">Hey <%= current_user.first_name&.capitalize %></h1>
  <h2> This is version: <%= @version.name %></h2>
  <h2>Add questions to your test.</h2>
</div>

<div class="container mt-5">

  <%= render 'form' %>
  <div class="container">

<!--     <div class="container w-75">
-->
<div id="question-list" data-version="<%= @version.id %>">
  <% @version.questions.each do |question|%>
  <p data-id="<%= question.id %>" class="text-right">
    <%= question.question %>
    <button class="btn btn-danger delete-button">Delete</button>
  </p>
  <% end %>
</div>
<!--     </div>
-->
<div class="row">
    <div class="col-6 offset-3">
<form id="questions-form">
  <div class="form-group d-flex">
    <input type="text" class="form-control question-input">
    <button class="add-question btn btn-primary">+</button>
  </div>
</form>
</div>
</div>
</div>
</div>


<div class="container d-flex justify-content-center">
  <%= link_to "go back", dashboard_path, {class: "card_action btn btn-primary m-1"} %>
  <%= link_to "submit", startup_version_path, {class: "card_action btn btn-primary m-1"} %>
</div>

