<div class=banner2>
  <h1 class="h1-header">Hey <%= current_user.first_name&.capitalize %></h1>
  <h2>Add questions to your test.</h2>
</div>

<div class="container mt-5">
  <div class="container">
  <%= @version.startup.company_name %>
  <%= @version.startup.url %>
  </div>

  <%= @version.name %>
  <%= render 'form' %>

  <div id="question-list" data-version="<%= @version.id %>">
    <% @version.questions.each do |question|%>
      <p data-id="<%= question.id %>">
        <%= question.question %>
        <button class="btn btn-danger delete-button">Delete</button>
      </p>
    <% end %>
  </div>

  <form id="questions-form">
    <div class="form-group d-flex">
      <input type="text" class="form-control question-input">
      <button class="add-question btn btn-primary">+</button>
    </div>
  </form>
<%= link_to "go back", dashboard_path, {class: "card_action btn btn-primary mt-5"} %>
</div>




<!-- 1. simple_form_for versions#create -->
<!-- 2. List of existing questions -->
<!-- 3. Text field and a button to add more text fields -->
<!-- 4. Submit button to create questions -->

