<div class=banner2>
  <h1 class="h1-header m-2">Hey <%= current_user.first_name&.capitalize %></h1>
  <h2> These are all your versions</h2>
</div>

<div class="container">
  <div id="version-list" >
    <% @versions.each do |version|%>
    <div>
      <p class="m-3 text-center"><%= version.name %>
        <%= link_to "Edit version", edit_startup_version_path(version.startup_id, version.id), class: "m-3 btn btn-danger button-delete text-decoration-none"%>
        <%= link_to "Destroy version", startup_version_path(version.startup_id, version.id), method: :delete, class: " m-3 btn btn-danger text-decoration-none" %>
      </p>
    </div>
    <% end %>
  </div>
  <div class="conatiner d-flex justify-content-center">
  <%= link_to "Go back to Dashboard", dashboard_path, class: "btn btn-success m-1" %>

  </div>

</div>
