<div class="banner2">
  <h1 class="text-center mt-5"><%= @version.name %></h1>
</div>

<div class="version_container mt-5">
  <div class="text-left box-q-a">
    <%= form_tag(answers_path, method: :post) do %>
      <% @questions.each do |question| %>
        <%= label_tag("answers[]", question.question) %><br>
        <%= text_field_tag("answers[]") %><br>
        <%= hidden_field_tag "questions[]", question.id %>
      <% end %><br>

      <tr class="likert">
       <td><label for="website_ux">Website UX</label></td><br>
       <td>Poor</td>
       <td><input type="radio" name="feedback[website_ux]" value="1"> </td>
       <td><input type="radio" name="feedback[website_ux]" value="2"> </td>
       <td><input type="radio" name="feedback[website_ux]" value="3"> </td>
       <td><input type="radio" name="feedback[website_ux]" value="4"> </td>
       <td><input type="radio" name="feedback[website_ux]" value="5"> </td>
       <td>Great</td><br>
      </tr>

      <tr class="likert">
       <td><label for="website_ui">Website UI</label></td><br>
       <td>Poor</td>
       <td><input type="radio" name="feedback[website_ui]" value="1"> </td>
       <td><input type="radio" name="feedback[website_ui]" value="2"> </td>
       <td><input type="radio" name="feedback[website_ui]" value="3"> </td>
       <td><input type="radio" name="feedback[website_ui]" value="4"> </td>
       <td><input type="radio" name="feedback[website_ui]" value="5"> </td>
       <td>Great</td><br>
      </tr>

      <tr class="likert">
       <td><label for="website_design">Website Design</label></td><br>
       <td>Poor</td>
       <td><input type="radio" name="feedback[website_design]" value="1"> </td>
       <td><input type="radio" name="feedback[website_design]" value="2"> </td>
       <td><input type="radio" name="feedback[website_design]" value="3"> </td>
       <td><input type="radio" name="feedback[website_design]" value="4"> </td>
       <td><input type="radio" name="feedback[website_design]" value="5"> </td>
       <td>Great</td><br>
      </tr>

      <tr class="likert">
       <td><label for="website_fluidity">Website Fluidity</label></td><br>
       <td>Poor</td>
       <td><input type="radio" name="feedback[website_fluidity]" value="1"> </td>
       <td><input type="radio" name="feedback[website_fluidity]" value="2"> </td>
       <td><input type="radio" name="feedback[website_fluidity]" value="3"> </td>
       <td><input type="radio" name="feedback[website_fluidity]" value="4"> </td>
       <td><input type="radio" name="feedback[website_fluidity]" value="5"> </td>
       <td>Great</td><br>
      </tr>

      <tr class="likert">
        <td><label for="website_latency">Website Latency</label></td><br>
        <td>Poor</td>
        <td><input type="radio" name="feedback[website_latency]" value="1"> </td>
        <td><input type="radio" name="feedback[website_latency]" value="2"> </td>
        <td><input type="radio" name="feedback[website_latency]" value="3"> </td>
        <td><input type="radio" name="feedback[website_latency]" value="4"> </td>
        <td><input type="radio" name="feedback[website_latency]" value="5"> </td>
        <td>Great</td><br>
      </tr>

      <% if current_user && current_user.is_tester? %>
        <br>
        <%= submit_tag "Submit", class: "btn btn-success"  %>
      <% else %>
        <br>
        <div class="container d-flex">
        <%= link_to "Quit preview", dashboard_path, class: "btn btn-success m-1" %>
        <%= link_to "Destroy version", startup_version_path, method: :delete, class: 'btn btn-danger m-1' %>
        </div>
      <% end %>

  </div>
  <iframe class="frame" src="https://www.pixelstech.net/article/1532747442-How-to-check-whether-a-web-page-can-be-loaded-in-iframe" width="500" height="850" frameborder="0" marginwidth="0" marginheight="0"></iframe>
</div>

<% end %>
