<div class=banner2>
  <h1 class="h1-header">Hey <%= current_user.first_name&.capitalize %></h1>
  <h2>Welcome to your dashboard!</h2>
  <div class="w-100 d-flex justify-content-center">
    <%= link_to "Add test!",  new_startup_version_path(current_user.startup), {class: "search-btn btn mt-3 btn-outline-light m-1"} %>
    <%= link_to "See all versions",  startup_versions_path(current_user.startup), {class: "search-btn btn mt-3 btn-outline-light m-1"} %>
  </div>
</div>

<% if current_user.empty_profile? %>
<div class="w-100 d-flex justify-content-center my-3">
  <div class="alert-profile alert-warning" role="alert">
    Your profile is not completed.
    <%= link_to "update!",  edit_startup_path(current_user), {class: "btn btn-succes"} %>
  </div>
</div>
<% end %>


<div class="container mt-5">

  <div class="main-container text-center">

    <!-- user profile box, same for startup and tester -->
    <div class="user-profilev2 dashboard-card">
      <div class="user-photo">
        <%= cl_image_tag current_user.startup.photo.attached? ? current_user.startup.photo.key : "injcuuecln8fvf2vo2zg", width: '100%', height: 200, :cloud_name => "dir0nw4ok" %>
      </div>

      <div class="user-info text-left">

        <h6 style="font-weight:700"><%= current_user.startup.company_name ? current_user.startup.company_name : "Company information" %></h6>
        <div class="profile_icons d-flex"><%= image_tag "user.png"%> <p> <%= current_user.full_name %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "internet.png"%> <p><%= current_user.startup.url.nil? ?  "Your website" : current_user.startup.url %> </p> </div>
        <div class="profile_icons d-flex"><%= image_tag "heart.png"%> <p> <%= current_user.startup.description.nil? ? "Your discription" : current_user.startup.description&.capitalize %></p> </div>
        <div class="profile_icons d-flex"><%= image_tag "information.png"%> <p> <%= current_user.startup.sector.nil? ? "Your information" : current_user.startup.sector %></p> </div>
        <div class="profile_icons d-flex"><%= image_tag "email.png"%> <p><%= current_user.email.nil? ? "Your email" : current_user.email %> </p></div>
        <br>

        <h6 style="font-weight:700">Your target market</h6>
        <div class="profile_icons d-flex"><%= image_tag "party.png"%><p> Age: <%= current_user.startup.target_age.empty? ? "All" : current_user.startup.target_age.join(", ") %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "university.png"%><p>Education: <%= current_user.startup.target_education.empty? ? "All" : current_user.startup.target_education.join(", ")  %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "world.png"%><p>Nationality: <%= current_user.startup.target_nationality.empty? ? "All" : current_user.startup.target_nationality.join(", ") %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "love.png"%><p>Gender: <%= current_user.startup.target_sex.empty? ? "All" : current_user.startup.target_sex.join(", ") %> </p></div>
        <div class="profile_icons d-flex"><%= image_tag "bag.png"%><p>Profession: <%= current_user.startup.target_profession.empty? ? "All" : current_user.startup.target_profession.join(", ") %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "scoreboard.png"%> <p>Rating: <%= current_user.startup.target_rating.empty? ? "All" : current_user.startup.target_rating.join(", ") %></p></div>
      </div>

      <div class="user-contact text-left">

      </div>
      <div class="padding-top-30 ">
        <%= link_to "Edit Profile", edit_startup_path(current_user), {class: "card_action btn btn-primary"}  %>
      </div>
    </div>


    <div class="stats-card-1 box-text box-icons4 dashboard-card">
      <br>
      <% if @versions.empty? %>
      <p># of testers</p>
      <h2>0</h2>
      <div><%= image_tag "team.png"%></div>
      <% else %>
      <p># of testers</p>
      <h2><%= @versions.last&.testers&.count %></h2>
      <div><%= image_tag "team.png"%></div>
      <% end %>
    </div>


    <div class="stats-card-1 box-text box-icons4 dashboard-card">
      <br>
      <div>
        <% if @versions.empty? %>
        <p>Average rating</p>
        <br>
        <br>
        <%= image_tag "question.png"%>
        <% else %>
        <p>Average rating</p>
        <h2><%= @versions.last.total_calculate_avg_score %></h2>
        <%= image_tag "star.png"%>
        <% end %>
      </div>
    </div>

    <div class="stats-card-3 dashboard-card">
      <div class="box-icons4">
      <% if @versions.empty? %>
      <p >Please wait untill your Beta Version gets tested</p>
      <div><%= image_tag "time.png"%></div>
      </div>
      <% else %>
      <%= render 'chartjs' %>
      <% end %>
    </div>
  </div>



  <div>
    <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <button id="answers-per-user-button" class="card_action btn btn-primary">
      <li role="presentation"><a href="#answers-per-user" aria-controls="answers-per-user" role="tab" data-toggle="tab">Anwers per user</a></li>
    </button>
    <button id="answers-per-question-button" class="card_action btn">
      <li role="presentation"><a href="#answers-per-question" aria-controls="answers-per-question" role="tab" data-toggle="tab">Answers per question</a></li>
    </button>
  </ul>
  <br>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="answers-per-user">
      <div role="tabpanel" class="tab-pane" id="answers-per-user"><%= render 'versions/tester_answers' %></div>
    </div>
    <div id="answers-per-question" hidden>
      <div role="tabpanel" class="tab-pane" id="answers-per-question"><%= render 'versions/tabbed_accordion' %></div>
      </div>
    </div>
  </div>

<!-- script that toggles between buttons and hides the answers per question button
  when that view is selected, and vice versa -->
  <script>
    document.getElementById("answers-per-user-button").addEventListener("click", function() {
      document.getElementById("answers-per-user").hidden = false;
      document.getElementById("answers-per-question").hidden = true;
      document.getElementById("answers-per-user-button").classList.add('btn-primary');
      document.getElementById("answers-per-question-button").classList.remove('btn-primary');
    }, false);

    document.getElementById("answers-per-question-button").addEventListener("click", function() {
      document.getElementById("answers-per-user").hidden = true;
      document.getElementById("answers-per-question").hidden = false;
      document.getElementById("answers-per-user-button").classList.remove('btn-primary');
      document.getElementById("answers-per-question-button").classList.add('btn-primary');
    }, false);
  </script>
</div>
