<%= simple_form_for(@version) do |f|%>
  <%= f.button :submit, "Create version", {class: "btn btn-primary"} %>
<% end %>

<% if current_user.empty_profile? %>
  <div class="alert-profile alert-warning" role="alert">
    Your profile is not completed.
    <%= link_to "update!",  edit_startup_path, {class: "btn btn-succes"} %>
  </div>
<% end %>
<div class="container">
  <h1 class="h1-header">Dashboard#startup</h1>

  <div class="main-container d-flex text-center">

    <!-- user profile box, same for startup and tester -->
    <div class="user-profile text-left">

      <div class="user-photo">
        <%= cl_image_tag current_user.startup.photo.attached? ? current_user.startup.photo.key : "injcuuecln8fvf2vo2zg", width: 500, height: 350, :cloud_name => "dir0nw4ok"%>
      </div>

      <div class="user-info">
        <div>Name: <%= current_user.first_name %> <%= current_user.last_name %></div>
        <div>Company: <%= current_user.startup.company_name %> </div>
        <div>Website: <%= current_user.startup.url %></div>
        <div>About: <%= current_user.startup.description %></div>
        <div>Sector: <%= current_user.startup.sector %></div>
      </div>

      <div class="user-contact">
        <span>Email: <%= current_user.email %></span>
      </div>
    </div>


    <div class="user-stats-container ">

      <div class="user-stats-1 d-flex">
        <div class="stats-card-1" id="card-1">
          <img src="https://labdeck.com/wp-content/uploads/2017/01/2d-graph-graph-title.png" alt="">

        </div>
        <div class="stats-card-1">
          <img src="https://labdeck.com/wp-content/uploads/2017/01/2d-graph-graph-title.png" alt="">
        </div>
      </div>


      <div class="user-stats-2 d-flex">
        <div class="stats-card-2">
       <img src="https://www.investopedia.com/thmb/JEVi7j7Or6I5od0x1zXLDW8gPiU=/1806x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/bargraphexample-0f58c4489f3343b48fc6128b97153f35.jpg" alt="">

        </div>

      </div>

    </div>

  </div>
</div>

