<div class=banner2>
  <h1 class="h1-header">Hey <%= current_user.first_name.capitalize %></h1>
  <br>
  <h2>Welcome to your dashboard!</h2>
  <div class="w-100 d-flex justify-content-center">
    <%= link_to "Find Tests!", startups_path, {class: "search-btn btn mt-3 btn-outline-light"} %>
  </div>
</div>

<% if current_user.empty_tester_profile? %>
<div class="w-100 d-flex justify-content-center my-3">
  <div class="alert-profile alert-warning" role="alert">
    Your profile is not completed.
    <%= link_to "Update!",  edit_tester_path(current_user), {class: "btn btn-succes"} %>
  </div>
</div>
<% end %>

<div class="container mt-5">

  <div class="main-container text-center">

    <!-- user profile box, same for startup and tester -->
    <div class="user-profilev2 dashboard-card">
      <div class="user-photo">
        <%= cl_image_tag current_user.tester.photo.attached? ? current_user.tester.photo.key : "injcuuecln8fvf2vo2zg", width: '100%', height: 200, :cloud_name => "dir0nw4ok" %>
      </div>

      <div class="user-info text-left">

        <h6 style="font-weight:700"><% "Company information" %></h6>
        <div class="profile_icons d-flex"><%= image_tag "party.png"%><p> <%= current_user.tester.age.nil? ? "Your age" : current_user.tester.age %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "university.png"%><p> <%= current_user.tester.education.nil? ? "Your education" : current_user.tester.education  %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "world.png"%><p> <%= current_user.tester.nationality.nil? ? "Your nationality" : current_user.tester.nationality %></p></div>
        <div class="profile_icons d-flex"><%= image_tag "love.png"%><p> <%= current_user.tester.sex.nil? ? "Your gender" : current_user.tester.sex %> </p></div>
        <div class="profile_icons d-flex"><%= image_tag "bag.png"%><p> <%= current_user.tester.profession.nil? ? "Your profession" : current_user.tester.profession %></p></div>

      </div>

      <div class="user-contact text-left">

      </div>
      <div class="padding-top-30 ">
        <%= link_to "Edit Profile", edit_tester_path(current_user), {class: "card_action btn btn-primary"}  %>
      </div>
    </div>


    <div class="stats-card-1 box-text2 box-icons5 dashboard-card">
      <br>
      <p>Total money earnt</p>
      <h2> <%= @tester.feedbacks.count * 20 %> </h2>
      <%= image_tag "pig.png"%>
    </div>

    <div class="stats-card-1 box-text2 box-icons5 dashboard-card">
      <br>
      <p>Your rating</p>
      <h2><%= @tester.avg_rating %></h2>
      <%= image_tag "scoreboard.png"%>
      <div>

      </div>
    </div>


    <div class="stats-card-3 dashboard-card">
      <div class="box-icons5">
      <% if  @tester.feedbacks.nil? %>
      <br>
      <p>What are you waiting for? Start testing! </p>
      <br>
      <br>
      <div class="clock-icon"><%= image_tag "time.png"%></div>
      </div>
      <% else %>
        <div class="stats-card-3 dashboard-card">
          <canvas
            id="tester-chart"
            width="100%"
            data-data="<%= @tester.tests_by_month.to_json %>"
          ></canvas>
        </div>
      <% end %>
    </div>
  </div>
</div>

