<div class="container">
  <div class="d-flex justify-content-between padding-side-30">
    <h1 class="">Dashboard#tester</h1>
    <div>
      <%= link_to "Find Tests", startups_path, {class: "card_action btn btn-primary"}  %>
    </div>
  </div>

  <div class="main-container d-flex text-center justify-content-center">

    <!-- user profile box, same for startup and tester -->
    <div class="user-profile">

      <div class="user-photo">
        <%= cl_image_tag current_user.tester.photo.attached? ? current_user.tester.photo.key : "injcuuecln8fvf2vo2zg", width: 500, height: 350, :cloud_name => "dir0nw4ok"%>
      </div>

      <div class="user-info text-left">
        <div>Name: <%= current_user.first_name %> <%= current_user.last_name %></div>
        <div>Age: <%= current_user.tester.age %> </div>
        <div>Sex: <%= current_user.tester.sex %></div>
        <div>Education: <%= current_user.tester.education %></div>
        <div>Job: <%= current_user.tester.profession %></div>
      </div>

      <div class="user-contact">
        <span>Email: <%= current_user.email %></span>
      </div>
      <div class="padding-side-30">
      <%= link_to "Edit Profile", edit_tester_path(current_user), {class: "card_action btn btn-primary"}  %>
      </div>
    </div>

    <div class="stats-card-1">
      <img src="https://labdeck.com/wp-content/uploads/2017/01/2d-graph-graph-title.png" alt="">

    </div>
    <div class="stats-card-1">
      <img src="https://labdeck.com/wp-content/uploads/2017/01/2d-graph-graph-title.png" alt="">
    </div>
  </div>


</div>
